<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henry.formulessolve">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Information_layout"
            android:exported="false" />
        <activity
            android:name=".ReaumurLayout"
            android:exported="true" />
        <activity
            android:name=".RankineLayout"
            android:exported="true" />
        <activity
            android:name=".KelvinLayout"
            android:exported="true" />
        <activity
            android:name=".FahrenheirLayout"
            android:exported="true" />
        <activity
            android:name=".CelciusLayout"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9651306497503321~2432542241"/>

    </application>

</manifest>